<!DOCTYPE html>
<html>
  <head>
    <title>TweetApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-logo">
        <%= link_to('TweetApp' , '/') %>
      </div>
      <ul class="header-menus">
        <li><%= link_to('TweetAppとは' , '/about') %></li>
        <li><%= link_to('投稿一覧' , '/posts/index') %></li>
        <li><%= link_to('新規投稿' , '/posts/new') %></li>
      </ul>
    </header>
    <%= yield %>
  </body>
</html>
